<section class="section-one">
    <div class="container d-flex flex-column">
        <div class="pt-5 d-flex flex-column align-items-center">
            <h1 class="text-purple text-bold text-center" style="font-size: 2.25rem;">
                Save your special <br> moments more easily
            </h1>
            <p class="text-center px-5 col-lg-6">
                Replace your old photo albums. Share stories with loved ones. Keep your children's milestones forever. Rearview makes looking back and re-living your best moments simple and fun. Currently in private beta.
            </p>
        </div>

        <div class="d-grid d-lg-block text-center pb-5">
            <button class="btn btn-purple mx-2">Sign Up</button>
        </div>
    </div>
</section>